---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'

import PostCard from '../../components/PostCard.astro'
import Pagination from '../../components/Pagination.astro'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection('blog', (post) => !post.data.draft)

  return paginate(allPosts, {
    pageSize: 6,
  })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<Layout title='Blog | All Posts'>
  <h2 class='font-semibold text-2xl pb-8 pt-7'>All blog posts</h2>
  <div
    class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-12 pb-8 border-b border-gray-200 dark:border-gray-500'
  >
    {page.data.map((post) => <PostCard post={post} />)}
  </div>

  <Pagination
    currentPage={page.currentPage}
    pageCount={page.lastPage}
    nextPageUrl={page.url.next}
    prevPageUrl={page.url.prev}
  />
</Layout>
