---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

import CategoryBadge from './CategoryBadge.astro'

interface Props {
  direction?: 'vertical' | 'horizontal'
  classes?: string
  lineClamp?: number
  post: CollectionEntry<'blog'>
}

const { direction = 'vertical', classes, lineClamp = 2, post } = Astro.props
const { title, description, image, author, category, date } = post.data
---

<a
  href={`/blog/${post.slug}`}
  class={`@container flex ${direction === 'vertical' ? 'flex-col gap-8' : 'gap-x-6'} w-full`}
>
  <Image
    src={image.src}
    alt={image.alt}
    class={`w-full ${
      direction === 'horizontal'
        ? 'aspect-video'
        : 'aspect-video @2xl:aspect-[3.37]'
    } object-cover overflow-hidden`}
    width={400}
    height={250}
  />

  <div class:list={['flex flex-col gap-6 w-full', classes]}>
    <div class='@container flex flex-col gap-3'>
      <span class='font-semibold text-sm text-purple-700'
        >{author} • {date}</span
      >
      <h1 class='@sm:text-2xl font-semibold text-lg'>{title}</h1>

      <p
        class={`text-base text-gray-500 dark:text-gray-400 ${lineClamp == 2 ? 'line-clamp-2' : lineClamp == 4 ? 'line-clamp-4' : 'line-clamp-6'}`}
      >
        {description}
      </p>
    </div>

    <div class='flex items-center flex-wrap gap-2'>
      {category.map((c: any) => <CategoryBadge label={c} />)}
    </div>
  </div>
</a>
